body {
background-image: url("img/fondo.png");
}
.contenedor-texto{
    background-color:rgba(0,0,0,0.6);
    width:70%;
    margin:40px auto;
    padding:30px;
    color:white;
    text-align: center;

}
.imagenes{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 10px;
}
.imagenes img {
    width: 150px;
    height:auto;
}