body {
background-image: url("img/fondo.png");
}
.contenedor-texto{
    background-color:rgba(0,0,0,0.6);
    width:70%;
    margin:40px auto;
    padding:30px;
    color:white;
    text-align: center;

}
.imagenes{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    margin-top: 10px;

}

img{
    width: 300px !important;
}
img:nth-child(2){
    width: 350px;
}
img{
    border:5px solid white;
}
.imagen{
    width: 350px;
    height:250px;
    object-fit:cover;
}